div.tooltip {	
  position: absolute;	
  text-align: left;	
  padding: 0.8em;				
  font: 12px sans-serif;		
  background: white;
  border: 1px solid black;		
  pointer-events: none;			
  position: absolute;
  border-radius: 5px;
  font-family: "Avenir", "Avenir Next", Helvetica Neue, Arial;
}

/* Tooltip title */
.energy-tooltip-title {
  font-weight: bold;
  font-size: 13px;
  color: #7a7a7a;
  margin-bottom: 5px;
}

/* Tooltip subcategory text style */
.energy-tooltip-subcategory {
  font-size: 15px;
  color: #7a7a7a;
  margin-bottom: 0px;
}

/* Style the value of the tooltip */
.energy-tooltip-value {
  font-size: 14px;
  font-weight: bold;
  /* margin-bottom: 3px; */
  margin-top: 0px;
}

.ticks {
  font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #dcdcdc;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}


  
