#agriculture_graph {
  font-family: "Avenir", "Avenir Next", Helvetica Neue, Arial;
}

/* Space out the diet buttons */
input[name="diet"] {  
  margin-left: 20px;
}

/* Position the agriculture tooltip */
.ag-bar-tooltip {
  position: absolute;
  border-radius: 0px;
  display: block;
}

/* Style the value of the tooltip */
.ag-tooltip-value {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0px;
}

/* Tooltip title */
.ag-tooltip-title {
  font-weight: bold;
  font-size: 15px;
  color: #7a7a7a;
  margin-bottom: 15px;
}

/* Tooltip subcategory text style */
.ag-tooltip-subcategory {
  font-size: 20px;
  color: #7a7a7a;
  margin-bottom: 0px;
}

/* Position the agriculture drop down and radio 
   buttons side by side */
.ag-option-container {
  display: flex;
}

.ag-child {
  flex: 1;
}

.ag-child:first-child {
  margin-right: 10px;
}

/* Food supply subtitles */
.ag-subtitle {
  font-style: oblique;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}