/*.link {*/
/*    fill: none;*/
/*    !*stroke: #000;*!*/
/*    stroke-opacity: .2;*/
/*}*/
#overview-chart {
    /*border: 1px solid blue;*/
    /*height: 900px;*/
}
svg {
    /*border: 1px solid pink;*/
}

/* Chart title */
.chart-title {
    text-align: center;
    font-size: 22pt;
}

/* Chart subtitles */
.subtitle {
    font-style: oblique;
    text-align: center;
    margin-top: 10px;
    /*color: lightgrey;*/
}

/* Tooltip container */
div.tooltip {
    position: fixed;
    /*text-align: center;*/
    /*width: 60px;*/
    /*max-height: 125px;*/
    /*padding: 2px;*/
    background: white;
    border: 3px solid;
    border-radius: 5px;
    /*pointer-events: none;*/
    /*overflow-y:auto;*/
    max-width: 380px;
    /*margin: 50px auto;*/
    /*background: white;*/
    padding: 10px 20px;
    text-align: left;
    font-size: 12pt;
    /*text-align: center;*/
    /*font-weight: 900;*/
    /*color: #fff;*/
    /*font-family: arial;*/
}

/* Tooltip text */
div.tooltip p {
    /*color: black;*/
    /*text-align: left;*/
}


/* Tooltip title */
div.tooltip .tooltip-title {
    font-weight: bold;
}

/* Tooltip percentage value */
div.tooltip .tooltip-value {
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 0;
}

/* Tooltip percentage value label */
div.tooltip .tooltip-value-subtitle {
    margin-top: 0;
    font-size: 10pt;
}

/* Tooltip more details subtitle */
div.tooltip .more-details {
    font-style: oblique;
    text-decoration: underline;
}